<ion-tabs class="tabs-icon-top tabs-top tabs-positive">
       <ion-tab title="" icon="ion-social-youtube-outline" href="#/tab/home">
         <ion-nav-view name="live-tab"></ion-nav-view>
       </ion-tab>

       <ion-tab title="" icon="ion-ios-clock-outline" href="#/tab/upcoming">
         <ion-nav-view name="upcoming-tab"></ion-nav-view>
       </ion-tab>

 </ion-tabs>
