<ion-view view-title={{vm.eventDetails.name}} class="has-header" ng-init="vm.getKnowledgeResource()">
    <ion-nav-buttons side="left">
        <a class="button button-icon ion-ios-arrow-back" href="#/tab/home" style="color:#fff;"></a>
    </ion-nav-buttons>
    <ion-content ng-init="vm.getKnowledgeResource()">
        <div class="card" style="width: 93%;margin: 25px auto 0;"><p style="padding: 9px;text-align: justify;font-size:15px;">Description: {{vm.eventDetails.discription}}</p></div>
      <div class="card list knwldge_video_list" ng-repeat="item in vm.videoList">
            <a class="item item-body knowledgeCard knwldgecard_first" ng-click="vm.playVideo(item)" href="#">
                <div class="overlay_div" ></div>
                <!--<img class="full-image thumbnailVideo" src="images/ev1.jpg" >-->
                <iframe src="{{item.url}}" height="300" width="100%" style="width:100%;"></iframe>
            </a>
            <a class="item item-body knowledgeCard knwldgecard_next"  ng-click="vm.playVideo(item)" href="#">
                <!--<img class="overlayIcon" src="img/play.png" alt="" />-->
                <p class="knowledgeHeading" style="font-size: 15px !important;margin:0;padding:5px;">{{item.name}}</p>
                <!--<div class="knowledgeListVideo">
                    <p class="dateTimeVideo">To Date: {{item.toDate.text}}</p> <p class="slugTitleVideo">From Date: {{item.fromDate.text}}</p></div>-->
            </a>
        </div>
    </ion-content>
</ion-view>
