<ion-view view-title="Upcoming Events" class="has-header" style="text-align:left;">
    <!--<ion-nav-buttons side="left">
        <button class="button button-icon ion-android-menu" ng-click="vm.toggleMenu()"></button>
    </ion-nav-buttons>-->
    <ion-content ng-init="vm.getUpcomingVideos()" scroll="false">
      <div class="card list knwldge_video_list" ng-repeat="item in vm.upVideoList">
            <p class="item item-body knowledgeCard knwldgecard_first">
                <div class="overlay_div" ></div>
                <img class="full-image thumbnailVideo" src="{{item.imagePath}}" >
            </p>
            <a class="item item-body knowledgeCard knwldgecard_next" >
                <!--<img class="overlayIcon" src="img/play.png" alt="" />-->
                <p class="knowledgeHeading" >{{item.name}}</p>
                <p class="knowledgeDescription">{{item.discription}}</p>
                <div class="knowledgeListVideo">
                    <p class="dateTimeVideo"><span>From Date: {{item.fromDate.text}}</span> <span style="margin-left:25px;"> To Date: {{item.toDate.text}}</span></p> </div>
            </a>
        </div>
    </ion-content>
</ion-view>
