<ion-view view-title="{{vm.video.name}}" class="has-header" ng-init="vm.loadVideo()">
    <ion-nav-buttons side="left">
        <a class="button button-icon ion-ios-arrow-left" href="#/details" style="color:#fff;"></a>
    </ion-nav-buttons>
    <ion-content >
        <div style="width:100%; float:left;">
            <iframe src="{{vm.video.url}}" height="300" width="100%" style="width:100%;"></iframe>
        </div>

        <p style="width:100%;float:left;text-align: center;font-size: 25px;line-height: 32px;">{{vm.video.name}}</p>

        <ion-list class="item-text-wrap" >
            <div ng-repeat="que in vm.queAns " style="margin-bottom:7px ;width:100%;float:left;">
                <ion-item class="item-stable overview"
                          ng-click="vm.toggleGroup(que.question)"
                          ng-class="{active: vm.isGroupShown(que.question)}" style="padding:0;border:0;background:#fff;">
                    <div style="background:#BBB8B8;padding:7px 15px;" class="">
                        <p style="font-size: 18px;line-height: 25px;color:#fff;text-transform:capitalize">{{que.question}}
                            <i style="float:right;" class="icon pull-right" ng-class="vm.isGroupShown(que.question) ? 'ion-ios-arrow-down':'ion-ios-arrow-right'"></i></p></div>
                    <div class="overview-body" ng-show="vm.isGroupShown(que.question)">
                        <span ng-show="que.answers.length==0" style="padding-left:20px;">No answer is posted for your question.</span>
                        <div class="row" ng-repeat="a in que.answers" style="margin-bottom:5px;width:100%;float:left;margin-left: 20px;">
                            <div style="font-weight: bold;color:#0078ae;width:100%; float:left; ">{{a.answerBy.displayName}}</div><br/>
                            <div class="item-text-wrap" style="margin-top: 30px;margin-left:-120px;">{{a.answer}}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-22" style="padding-left: 20px;width:80%;">
                                <textarea class="form-control" width="100%" on-hold="vm.isPressed()" rows="4" cols="40" ng-model="vm.answerText" style="border: 1px solid #ddd;width:100%;" ng-class="vm.pressed ? 'testClass':'testClass1'"></textarea>
                            </div>
                            <div class="col-xs-2" style="margin-left: 10px;width:10%;">
                                <button type="button" class="btn btn-default btn-sm" ng-click="vm.addAnswer(que.id)" style="width: 75px;height: 40px;">
                                    <span class="ion-reply"></span>
                                </button>
                            </div>
                        </div>

                    </div>
                </ion-item>
            </div>
        </ion-list>
        <div class="row">
            <div class="col-xs-20" style="width: 80%;border: 1px solid;">
                <textarea class="form-control" width="100%"  ng-model="vm.questionsText" style="width:100%;"></textarea>
            </div>
            <div class="col-xs-2" style="margin-left: 3%;width: 15%;">
                <input type="button" class="button" value="Add Question" ng-click="vm.addQuestion(vm.video.id)" style="background: #c13100;color: #fff;">
            </div>
        </div>

    </ion-content>
</ion-view>
