<ion-view  hide-nav-bar="true">
    <ion-content >
      <div class="login_wrap">
       <div class="login_up_img">
         <div class="logo_img">
           <h1>Webinar</h1>
         </div>
       </div>
        <div class="login_form">
            <form class="log_form" name="loginForm" novalidate valdr-type="Login">
              <div class="list loginForm">
                <div valdr-form-group>
                  <label class="item item-input">
                    <span class="loginLabel unameIcon ion-person"></span>
                    <input type="text" class="formDetails" ng-model="vm.loginForm.address" name="address" placeholder="IP Address">
                  </label>
                </div>
                <div valdr-form-group>
                  <label class="item item-input">
                    <span class="loginLabel unameIcon ion-person"></span>
                    <input type="text" class="formDetails" ng-model="vm.loginForm.username" name="username" placeholder="Username">
                  </label>
                </div>
                <div valdr-form-group>
                  <label class="item item-input">
                    <span class="loginLabel passIcon ion-key"></span>
                    <input type="password" class="formDetails" ng-model="vm.loginForm.password" name="password" placeholder="Password">
                  </label>
                </div>
                <a class="button button-block signIn" ng-disabled="loginForm.$invalid"
                   ng-click="vm.login(loginForm,vm.loginForm)"><b>Log In</b>
                </a>
              </div>
            </form>
         </div>

      </div>
  </ion-content>
</ion-view>
