.logo_img h1 {
    text-align: center;
    font-size: 30px;
    background: #c13100;
    margin: 0;
    line-height: 43px;
    color: #fff
}

.login_wrap {
    width: 100%;
    float: left;
}
.login_form {
    width: 100%;
    position: absolute;
    top: 30%;
}
.log_form {
    width: 80%;
    margin: 0 auto;
}
.login_form input{
padding:0;
width:100%;
}
.login_form span{
padding:5px;
}
.login_form label.item.item-input {
    border: 0;
    border-bottom: 1px solid #ff9900;
}
.login_form a.button.button-block.signIn{border:1px solid #ff9900;color:#c13100;margin-top: 10px;}
.list.loginForm > div{margin-bottom:2px}/* Empty. Add your own CSS if you like */

.valdr-message {
    display: none;
}
.valdr-message.ng-invalid.ng-touched.ng-dirty {
    display: inline;
    color: red;
}
.knwldge_video_list{
    width: 94%;
    float: left;
    margin: 3%;
    }
.knwldgecard_first{
     padding: 0;
     width: 100%;
     float: left;
    }
.knowledgeHeading{
  font-size: 18px !important;
  font-weight: bold;
  color: #4A5863 !important;
  text-transform: capitalize;
  margin-bottom: 0px !important;
  padding: 8px;
}
.thumbnailVideo{
height:auto;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.app-bar{background:#0078ae;}
.overview-body{
background: #fff;
border: 1px solid #ddd;
width: 97%;
margin: 0 auto;
}
ion-header-bar.bar-header,.tabs-striped.tabs-positive .tabs{
    background: #c13100 !important;
    border: 0;
    color: #fff;
}
.knwldge_video_list .knwldgecard_first{
    padding: 0;
    width:100%;
    float: left;
    border: 0;
}
.knwldge_video_list .knwldgecard_next{
    width: 100%;
    float: left;
    overflow: initial;
    border: 0;
    padding:10px
}
.dateTimeVideo span{font-size:13px;}
.knowledgeHeading{
        font-size: 25px !important;
        margin: 0 !important;
        font-weight: normal;
        padding: 0px;
        color: #ff6600 !important;
        }
.tabs-top.tabs-striped .tab-item.tab-item-active{border:none !important;}
input[placeholder], [placeholder], *[placeholder] {
    color: #ff9900 !important;
}
.bar .button.button-icon, .bar button.button-icon